@import '../constants.scss';


a:link, a:visited {
  color: map-get($colors, primary80);
  text-decoration: underline;
}
a:hover {
  color: map-get($colors, primary50);
  text-decoration: underline;
}

.App {
  background-color: map-get($colors, backgroundColor);
  height: 100vh;
}

.loading {
  height: 100vh;
  width: 100vw;
}

.Hero {
  height: 98vh;
  width: 100vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;

  color: map-get($colors, negative);
  font-family: $alternativeCursiveFont;

  background-image: url('../media/images/cave2.jpg');
  background-size: 100%;
  background-position: bottom center;

  .centered-wrapper {
    width: 50%;
    height: 50%;
    margin: auto;
    top: 20%;

    .heroGraphic {
      width: 36vh;
      height: 36vh;
    }
  }
}

nav {
  background-color: map-get($colors, primary25);
  padding: 20px 0;
  font-family: $serifTextFont;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: map-get($colors, primary100);
  text-align: center;
  border-bottom: 1px solid map-get($colors, primary30);

  .wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0px 20px;
    }
  }
}

.detailsSection {
  text-align: center;
  position: relative;

  .and {
    display: inline-block;
    font-size: 6rem;
    font-family: $cursiveTextFont;
    color: map-get($colors, primary30);
    text-align: top;
    top: -8rem;
    position: relative;
  }

  .are-getting-married {
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 3rem;
      color: map-get($colors, secondary100);
      font-family: $cursiveTextFont;
    }

    p.smaller {
      font-size: 1.1rem;
      color: map-get($colors, primary100);
      font-family: $serifTextFont;
    }
  }
}

.card {
  margin: 0 auto;
  width: 50%;
  float: left;

  position: relative;

  .base {
    margin: 1rem;
    background-color: map-get($colors, negative);
  }

  img {
    width: 100%;
  }

  .details {
    padding: 1rem 2rem 2rem 2rem;

    h3 {
      text-align: center;
      font-size: 1.4rem;
      font-family: $alternativeCursiveFont;
      color: map-get($colors, primary100);
    }

    p {
      font-family: $serifTextFont;
      font-size: 0.95rem;
      line-height: 1.5rem;
      min-height: 110px;
      text-align: center;
      color: lighten(#000, 20%);
    }

    .time {
      margin-top: 2rem;
      text-align: center;
      font-family: $alternativeCursiveFont;
      font-size: 1.2rem;
    }

    .address {
      text-align: center;
      font-family: $alternativeCursiveFont;
      font-size: 1.2rem;
    }
  }

  &.right {
    float:right;
  }

  &.full-width {
    float: default;
    width: 100% !important;

    img {
      width: 100%;
    }

    .details {
      p {
        min-height: default;
      }
    }
  }
}