@media all and (min-width: 1390px) {
  .Hero {
    background-size: 100% auto;
    background-position: bottom center;
  }
}

@media all and (max-width: 1199px) {

  .Page {
    section {
      max-width: 1400px;
      margin: 0rem auto;
      padding: 2rem 2rem;
    }
  }

  nav {
    ul {
      li {
        margin: 0px 15px;
        font-size: 0.9rem;
        padding: 20px 15px;

        &.rsvp {
          top: 8px;
          padding-top: 10px;
          right: 20px;
          font-size: 1.1rem;
        }
      }
    }
    .cv-logo {
      left: 20px;
    }
  }

  .ribbon {
    height: 60px;
    width: 50px;
  }

  .container {
    width: 100%;
  }

  .container-fluid {
    .text-right, .text-left {
      text-align: center;
    }
  }

  .rsvp-wrapper {
    .details {
      width: 60%;
    }
  }
}

@media all and (max-width: 991px) {
  .Page {
    section {
      max-width: 1400px;
      margin: 0rem auto;
      padding: 2rem 2rem;
    }
  }

  .Hero {
    background-size: auto 100%;

    .centered-wrapper {
      width: 60vw;
      height: 100vw;
      .heroGraphic {
        width: 60vw;
        height: 60vw;
      }
    }
  }

  .Person {
    width: 30vw;
    .photo {
      width: 15rem;
      height: 15rem;
    }
  }

  .topic-row {
    .content {
      width: 70%;

      .topic {
        width: 50%;
      }
      .response {
        width: 50%;
      }
    }
  }

  .rsvp-wrapper {
    .details {
      width: 70%;
    }
  }
}

@media all and (max-width: 866px) {
  .rsvp-wrapper {
    background-size: auto 100%;
  }
}

@media all and (max-width: 768px) {
  .Page {
    section {
      max-width: 1400px;
      margin: 0rem auto;
      padding: 2rem 2rem;
    }
  }

  .Hero {
    background-size: auto 100%;

    .centered-wrapper {
      width: 60vw;
      height: 100vw;
      .heroGraphic {
        width: 60vw;
        height: 60vw;
      }
    }
  }
  nav {
    ul {
      li {
        margin: 0px 10px;
        font-size: 0.8rem;
        padding: 20px 10px;

        &.rsvp {
          top: 8px;
          padding-top: 10px;
          right: 10px;
          font-size: 1rem;
        }
      }
    }
    .cv-logo {
      left: 10px;
    }
  }

  .ribbon {
    height: 50px;
    width: 50px;
  }

  .detailsSection {
    .and {
      font-size: 4rem;
      margin-top: 4rem;
    }
  }

  .Person {
    .photo {
      width: 12rem;
      height: 12rem;
    }
  }

  .card, .Card {
    width: 100%;

    &.left, &.right {
      float: none;
    }
  }

  .topic-row {
    .content {
      width: 80%;
    }
  }

  .rsvp-wrapper {
    background-size: auto 100%;

    .details {
      width: 100%;
    }
  }
}

@media all and (max-width: 575px) {

  h1 {
    font-size: 2.2rem !important;
  }

  .Person {
    width: 100%;
    margin: 0 auto;
    .photo {
      width: 10rem;
      height: 10rem;
    }

    .name {
      font-size: 1rem;
    }
  }

  .Page {
    section {
      max-width: 1400px;
      margin: 0rem auto;
      padding: 2rem 0.5rem;
    }
  }

  .Hero {
    background-size: auto 100%;

    .centered-wrapper {
      width: 60vw;
      height: 100vw;
      .heroGraphic {
        width: 60vw;
        height: 60vw;
      }
    }
  }

  nav {
    ul {
      li {
        margin: 0px 5px;
        font-size: 0.65rem;
        padding: 20px 5px;

        &.rsvp {
          top: 8px;
          padding-top: 10px;
          right: 5px;
          font-size: 0.9rem;
        }
      }
    }
    .cv-logo {
      left: 5px;
    }
  }

  .ribbon {
    height: 40px;
    width: 40px;
  }

  .detailsSection {
    margin-top: 2rem;
    .and {
      font-size: 2rem;
      margin-top: 6rem;
    }

    .are-getting-married {
      h2 {
        font-size: 2.5rem;
      }

      p.smaller {
        font-size: 1.1rem;
      }
    }
  }

  .storySection {
    padding: 2rem;
    padding-bottom: 30rem;
    background-position: 70% 100%;
  }

  .card, .Card {
    width: 100%;

    &.left, &.right {
      float: none;
    }
  }

  .topic-row {
    .content {
      .topic, .response {
        display: block;
        width: 100%;
      }
      .topic {
        margin-bottom: 1rem;
      }
    }
  }

  .rsvp-wrapper {
    .details {
      width: 100%;

      p {
        &.important {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media all and (max-width: 486px) {

  .Person {
    width: 100%;
    margin: 0 auto;
    .photo {
      width: 10rem;
      height: 10rem;
    }
  }

  .detailsSection {
    .and {
      font-size: 2rem;
      margin-top: 4rem;
    }
  }
}

@media all and (min-width: 555px) and (max-width:888px) {
  .rsvp-wrapper {
    background-size: 100% auto !important;
  }  
}