@import '../constants.scss';

.Page {
  section {
    max-width: 1050px;
    margin: 0rem auto;
    padding: 6rem 0;
  }

  h1 {
    text-align: center;
    color: map-get($colors, secondary100);
    font-family: 'Dancing Script';
    font-size: 3rem;
    margin-top: 0rem;
  }

  p {
    color: map-get($colors, primary100);
    font-family: 'Georgia';
    font-size: 1.1rem;
    line-height: 1.4em;
  }
}

.storySection {

  background-image: url('../media/images/mx5.jpg');
  background-position: center right;
  background-size: 100%;
  padding: 10vh 0 30vh 0;

  h1 {
    color: map-get($colors, primary30);
  }

  p {
    font-size: 1.1rem;
    color: #fff;
    font-family: $serifTextFont;
  }
}

.whenAndWhereSection {
  .wrapper::after {
    content: "";
    clear: both;
    display: table;
  }
}