@import '../constants.scss';

.Person {
  display: inline-block;
  width: 22vw;
  text-align: center;

  .photo {
    margin: 0rem auto 1.4rem auto;
    width: 14rem;
    height: 14rem;
    background-color: map-get($colors, primary100);
    border-radius: 50%;
    border: 10px solid map-get($colors, primary30);
  }

  .name {
    font-size: 1.2rem;
    font-family: $serifTextFont;
    color: lighten(#000, 60%);
  }
}