/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Handlee|Architects+Daughter');
@import 'scss/columns';

$_primaryColor: #213352;

$colors: (
  primary100: $_primaryColor,
  primary80: lighten($_primaryColor, 20%),
  primary50: lighten($_primaryColor, 50%),
  primary30: lighten($_primaryColor, 70%),
  primary25: lighten($_primaryColor, 75%),

  secondary100: #ae9d89,
  negative: #fff,
  backgroundColor: #fff
);

$cursiveTextFont: 'Dancing Script', cursive;
$alternativeCursiveFont: 'Architects Daughter', cursive;
$serifTextFont: Georgia,Times,"Times New Roman", serif;
